.quarto-title-block .quarto-title-banner {
  background-image: url(images/nait.png);
  background-size: 50px;
  background-position: 90%;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}

pre code {
  font-size: 0.8em;
}

.math.inline .MathJax  {
  font-size: 92% !important;
  color: #6863F4 ;
}

.math.display .MathJax  {
  font-size: 90% !important;
}

.right {
  text-align: right;
}

.vspace {
  height: 4em; /* Adjust height as needed */
  display: block;
}